{{> header}}
  <h3>Welcome to the {{pageName}} page!</h3>
  <p>project page text would go here!</p>
  <ul>
    <li>Colorgame: <a href="https://letsnjoy.000webhostapp.com/colourgame1(part2).html" target="_blank">https://letsnjoy.000webhostapp.com/colourgame1(part2).html</a></li>
    <li>Yelpcamp: <a href="https://dry-dawn-37113.herokuapp.com/" target="_blank">https://dry-dawn-37113.herokuapp.com/</a></li>
  </ul>
{{> footer}}
